
body {
  background-color: #e7e7e7; }

h1 {
  color: red;
  letter-spacing: 5px;
  text-transform: uppercase; }

h2 {
  color: grey;
  font-style: bold; }

h3, h4 {
  color: #ff0000;
  font-style: oblique;
  font-family: Helvetica; }

h5 {
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}



.alqoven img:hover {filter: sepia(60%);}

#galeria img:hover {filter: opacity(0.5);}

  


a {
  color: lightcoral; }

img {
  border-radius: 5px;

    
}

p {
  color: red;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px; }

ul {
  text-transform: uppercase; }

li {
  border-color: black 2px solid;
  display: inline; }

.img {
  border: 1px solid red; }

.titulos {
  background-color: white; }

.cuerpo {
  background-color: white; }

.texto {
  margin-left: 50px;
  margin-right: 50px; }

h1, h2, h3, h4, form {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px; }

  .card {

    margin-left: 25px;
  
    margin-right: 25px;
  }

  @media only screen and (min-width:769px){

    nav, footer {
      font-size: 18px;
    
    }
  
      form {
  
          font-size: 18px;
  
      }
  }
  
  @media only screen and (min-width:600px) and (max-width:768px){
  
      .img, img {
  
        height: 200px;

        width: 200px;
      }
  
      .nav, .pie {
  
          justify-content: center;
      }

      .logo {

        height: 60px;
      
          width: 120px;
    
      }
  
  
  }
  
  @media only screen and (min-width:321px) and (max-width:599px){
  
    .img, img {
  
      height: 150px;

      width: 150px;
  }
  
      .nav, .pie {
  
          justify-content: center;
  
          font-size: 12px;
  
  
      }
  
      .titulos{
  
              font-size: 10px;
  
              background-color:rgb(240, 230, 218) ;
  
              letter-spacing: 1px;
  
  
      }
  
      p {
  
          font-size: 11px;
      }
      
      
      .cuerpo {
  
          background-color:rgb(240, 230, 218) ;
  
          justify-items: center;
  
  
      }
  
      h1 {
  
          letter-spacing: 2px;
      }
  
      .logo-redes {
  
          height: 30px;
  
          width: 30px;
      }
  
      form {
  
          font-size: 14px;
  
      }

      .logo {

        height: 50px;
      
          width: 100px;

      }

      iframe {

        height: 150px;
    
          width: 300px;
    
    
      }
  }
  
  @media only screen and (max-width:320px){
  
    .img, img {
  
      height: 150px;

      width: 150px;
  }
  
      .titulos{
  
          font-size: 10px;
  
          background-color:rgb(240, 230, 218) ;
  
  
      }
  
      h1 {
  
          letter-spacing: 1px;
  
          font-size: 14px;
      }
  
  
  
      .cuerpo {
  
      background-color:rgb(240, 230, 218) ;
  
      justify-items: center;
  
  
  }
  
  .nav, .pie {
  
      justify-content: center;
  
      font-size: 10px;
  
  
  }
  
  p {
  
      font-size: 10px;
  }
  
  .logo-redes {
  
      height: 21px;
  
      width: 21px;
  }
  
  form {
  
      font-size: 10px;
  
  }

  .logo {

    height: 30px;
  
      width: 60px;

  }

  h5 {

    font-size: 12px;
  }
  
  iframe {

    height: 150px;

      width: 250px;


  }
  }

  
  