body {
  background-color: #e7e7e7; }

h1 {
  color: red;
  letter-spacing: 5px;
  text-transform: uppercase; }

  /* Animación 1 */
h1 {
    animation-duration: 5s;
    animation-name: vieneyva;
    animation-iteration-count:initial;
}
 

 @keyframes vieneyva {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 

h2 {
  color: grey;
  font-style: bold; }

h3, h4 {
  color: brown;
  font-style: oblique;
  font-family: Helvetica; }

a {
  color: lightcoral; }

img {
  border-radius: 5px; }

p {
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px; }

ul {
  text-transform: uppercase; }

li {
  border-color: black 2px solid;
  display: inline; }

.img {
  border: 1px solid red; }

.titulos {
  background-color: white; }

.cuerpo {
  background-color: white; }

.texto {
  margin-left: 50px;
  margin-right: 50px; }

h1, h2, h3, h4, form {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px; }

/* Animación 2 */
  input {
    width: 50px; height: 30px;
    transition: all 2s;       
 }
 input:focus {
    width: 700px;
    font-size: 14px;
    font-style:oblique

  }

  @keyframes efecto_redes {
    0%{ opacity: 0; }
    25%{ opacity: 0.25; }
    50%{ opacity: 0.5; }
    75%{ opacity: 0.75;}
    100%{ opacity: 1;}
 }

 .redes {
  width: 50px;
  height: 50px;
  
  animation-name: efecto_redes;
  animation-iteration-count:inherit;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0s;
}

 
 
